.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.6) 70%), url(../../images/bg2.jpg), url(../../images/bg.jpg);
	color: white;
	padding : 150px 0px;
	background-position: center;
}

.banner h1 {
	font-size: 40px;
	display: inline;
	padding: 5px 4px;
}

.banner h2 {
	font-weight: 400;
	font-size: 22px;
	opacity: 0.8;
	margin-bottom: 40px;
}